USE [DarsENizami]
GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 4/10/2026 11:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](500) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[designation] [nvarchar](100) NULL,
	[contact_no] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admission_forms]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admission_forms](
	[form_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[dob] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[contact] [nvarchar](50) NULL,
	[address] [nvarchar](300) NULL,
	[previous_institute] [nvarchar](200) NULL,
	[documents] [nvarchar](500) NULL,
	[submission_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admissions]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admissions](
	[admission_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[form_id] [int] NOT NULL,
	[admission_date] [datetime] NULL,
	[status] [nvarchar](30) NULL,
	[remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[admission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attendance]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance](
	[attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
	[attendance_date] [date] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NOT NULL,
	[author] [nvarchar](150) NULL,
	[year_level] [int] NOT NULL,
	[subject_id] [int] NULL,
	[pdf_link] [nvarchar](400) NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faculty]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faculty](
	[faculty_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[designation] [nvarchar](100) NULL,
	[qualification] [nvarchar](200) NULL,
	[experience_years] [int] NULL,
	[specialization] [nvarchar](200) NULL,
	[contact_no] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[faculty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faculty_subjects]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faculty_subjects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[faculty_id] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
	[class_year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[content] [nvarchar](1000) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[message] [nvarchar](500) NULL,
	[type] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[date_sent] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_date] [datetime] NULL,
	[status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[results]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[results](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
	[marks_obtained] [int] NULL,
	[total_marks] [int] NULL,
	[grade] [nvarchar](10) NULL,
	[term] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[setting_id] [int] IDENTITY(1,1) NOT NULL,
	[key] [nvarchar](100) NOT NULL,
	[value] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[roll_no] [nvarchar](50) NULL,
	[year_level] [int] NOT NULL,
	[joining_date] [date] NULL,
	[status] [nvarchar](30) NULL,
	[address] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_name] [nvarchar](150) NOT NULL,
	[year_id] [int] NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[phone] [nvarchar](30) NULL,
	[status] [nvarchar](30) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[year_levels]    Script Date: 4/10/2026 11:46:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[year_levels](
	[year_id] [int] IDENTITY(1,1) NOT NULL,
	[year_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activity_logs] ON 

INSERT [dbo].[activity_logs] ([log_id], [user_id], [action], [timestamp]) VALUES (1, 1, N'Logged in', CAST(N'2025-12-05T16:30:06.253' AS DateTime))
INSERT [dbo].[activity_logs] ([log_id], [user_id], [action], [timestamp]) VALUES (2, 2, N'Viewed attendance', CAST(N'2025-12-05T16:30:06.253' AS DateTime))
INSERT [dbo].[activity_logs] ([log_id], [user_id], [action], [timestamp]) VALUES (3, 3, N'Checked result', CAST(N'2025-12-05T16:30:06.253' AS DateTime))
SET IDENTITY_INSERT [dbo].[activity_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[admins] ON 

INSERT [dbo].[admins] ([admin_id], [user_id], [designation], [contact_no]) VALUES (1, 8, N'Super Admin', N'03051112233')
INSERT [dbo].[admins] ([admin_id], [user_id], [designation], [contact_no]) VALUES (2, 9, N'Assistant Admin', N'03024445566')
INSERT [dbo].[admins] ([admin_id], [user_id], [designation], [contact_no]) VALUES (3, 8, N'Record Keeper', N'03051112233')
SET IDENTITY_INSERT [dbo].[admins] OFF
GO
SET IDENTITY_INSERT [dbo].[admission_forms] ON 

INSERT [dbo].[admission_forms] ([form_id], [full_name], [dob], [gender], [contact], [address], [previous_institute], [documents], [submission_date]) VALUES (1, N'Ahmed Khan', CAST(N'2005-01-10' AS Date), N'Male', N'03001234567', N'Lahore', N'Govt School Lahore', N'Form+B-Form', CAST(N'2025-12-05T16:30:06.200' AS DateTime))
INSERT [dbo].[admission_forms] ([form_id], [full_name], [dob], [gender], [contact], [address], [previous_institute], [documents], [submission_date]) VALUES (2, N'Bilal Ahmed', CAST(N'2004-03-11' AS Date), N'Male', N'03012345678', N'Karachi', N'Iqra Academy', N'Form+ID', CAST(N'2025-12-05T16:30:06.200' AS DateTime))
INSERT [dbo].[admission_forms] ([form_id], [full_name], [dob], [gender], [contact], [address], [previous_institute], [documents], [submission_date]) VALUES (3, N'Ayesha Siddiqi', CAST(N'2006-07-12' AS Date), N'Female', N'03111223344', N'Islamabad', N'Islamic Model', N'Form+Photo', CAST(N'2025-12-05T16:30:06.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[admission_forms] OFF
GO
SET IDENTITY_INSERT [dbo].[admissions] ON 

INSERT [dbo].[admissions] ([admission_id], [student_id], [form_id], [admission_date], [status], [remarks]) VALUES (1, 1, 1, CAST(N'2023-03-01T00:00:00.000' AS DateTime), N'pending', N'Approved')
INSERT [dbo].[admissions] ([admission_id], [student_id], [form_id], [admission_date], [status], [remarks]) VALUES (2, 2, 2, CAST(N'2023-03-02T00:00:00.000' AS DateTime), N'pending', N'Approved')
INSERT [dbo].[admissions] ([admission_id], [student_id], [form_id], [admission_date], [status], [remarks]) VALUES (3, 3, 3, CAST(N'2023-03-03T00:00:00.000' AS DateTime), N'pending', N'Approved')
SET IDENTITY_INSERT [dbo].[admissions] OFF
GO
SET IDENTITY_INSERT [dbo].[attendance] ON 

INSERT [dbo].[attendance] ([attendance_id], [student_id], [subject_id], [attendance_date], [status]) VALUES (1, 1, 1, CAST(N'2023-03-11' AS Date), N'Present')
INSERT [dbo].[attendance] ([attendance_id], [student_id], [subject_id], [attendance_date], [status]) VALUES (2, 2, 2, CAST(N'2023-03-11' AS Date), N'Absent')
INSERT [dbo].[attendance] ([attendance_id], [student_id], [subject_id], [attendance_date], [status]) VALUES (3, 3, 3, CAST(N'2023-03-11' AS Date), N'Present')
SET IDENTITY_INSERT [dbo].[attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([book_id], [title], [author], [year_level], [subject_id], [pdf_link], [description]) VALUES (1, N'Fiqh Guide', N'Mufti Rasheed', 1, 1, N'link', N'Basic Fiqh')
INSERT [dbo].[books] ([book_id], [title], [author], [year_level], [subject_id], [pdf_link], [description]) VALUES (2, N'Tafseer Notes', N'Molana Saad', 2, 2, N'link', N'Tafseer Explained')
INSERT [dbo].[books] ([book_id], [title], [author], [year_level], [subject_id], [pdf_link], [description]) VALUES (3, N'Hadith Manual', N'Imam Bukhari', 3, 3, N'link', N'Hadith Study')
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[faculty] ON 

INSERT [dbo].[faculty] ([faculty_id], [user_id], [designation], [qualification], [experience_years], [specialization], [contact_no]) VALUES (1, 6, N'Ustad', N'MA Islamic Studies', 5, N'Tafseer', N'03099887766')
INSERT [dbo].[faculty] ([faculty_id], [user_id], [designation], [qualification], [experience_years], [specialization], [contact_no]) VALUES (2, 7, N'Mufti', N'Dars-e-Nizami', 10, N'Fiqh', N'03334445566')
SET IDENTITY_INSERT [dbo].[faculty] OFF
GO
SET IDENTITY_INSERT [dbo].[faculty_subjects] ON 

INSERT [dbo].[faculty_subjects] ([id], [faculty_id], [subject_id], [class_year]) VALUES (1, 1, 1, 1)
INSERT [dbo].[faculty_subjects] ([id], [faculty_id], [subject_id], [class_year]) VALUES (2, 1, 2, 2)
INSERT [dbo].[faculty_subjects] ([id], [faculty_id], [subject_id], [class_year]) VALUES (3, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[faculty_subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[messages] ON 

INSERT [dbo].[messages] ([message_id], [sender_id], [receiver_id], [content], [timestamp]) VALUES (1, 1, 8, N'Assalamualaikum Sir', CAST(N'2025-12-05T16:30:06.243' AS DateTime))
INSERT [dbo].[messages] ([message_id], [sender_id], [receiver_id], [content], [timestamp]) VALUES (2, 2, 8, N'Need help', CAST(N'2025-12-05T16:30:06.243' AS DateTime))
INSERT [dbo].[messages] ([message_id], [sender_id], [receiver_id], [content], [timestamp]) VALUES (3, 3, 9, N'Please approve', CAST(N'2025-12-05T16:30:06.243' AS DateTime))
SET IDENTITY_INSERT [dbo].[messages] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([notification_id], [user_id], [message], [type], [status], [date_sent]) VALUES (1, 1, N'Your result is uploaded', N'result', N'unread', CAST(N'2025-12-05T16:30:06.250' AS DateTime))
INSERT [dbo].[notifications] ([notification_id], [user_id], [message], [type], [status], [date_sent]) VALUES (2, 2, N'Fee reminder', N'payment', N'unread', CAST(N'2025-12-05T16:30:06.250' AS DateTime))
INSERT [dbo].[notifications] ([notification_id], [user_id], [message], [type], [status], [date_sent]) VALUES (3, 3, N'Class update', N'class', N'unread', CAST(N'2025-12-05T16:30:06.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([payment_id], [student_id], [amount], [payment_method], [payment_date], [status]) VALUES (1, 1, CAST(1500.00 AS Decimal(10, 2)), N'Cash', CAST(N'2025-12-05T16:30:06.227' AS DateTime), N'Paid')
INSERT [dbo].[payments] ([payment_id], [student_id], [amount], [payment_method], [payment_date], [status]) VALUES (2, 2, CAST(1500.00 AS Decimal(10, 2)), N'Cash', CAST(N'2025-12-05T16:30:06.227' AS DateTime), N'Paid')
INSERT [dbo].[payments] ([payment_id], [student_id], [amount], [payment_method], [payment_date], [status]) VALUES (3, 3, CAST(1500.00 AS Decimal(10, 2)), N'Cash', CAST(N'2025-12-05T16:30:06.227' AS DateTime), N'Paid')
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[results] ON 

INSERT [dbo].[results] ([result_id], [student_id], [subject_id], [marks_obtained], [total_marks], [grade], [term]) VALUES (1, 1, 1, 85, 100, N'A', N'Term 1')
INSERT [dbo].[results] ([result_id], [student_id], [subject_id], [marks_obtained], [total_marks], [grade], [term]) VALUES (2, 2, 2, 75, 100, N'B', N'Term 1')
INSERT [dbo].[results] ([result_id], [student_id], [subject_id], [marks_obtained], [total_marks], [grade], [term]) VALUES (3, 3, 3, 90, 100, N'A', N'Term 1')
SET IDENTITY_INSERT [dbo].[results] OFF
GO
SET IDENTITY_INSERT [dbo].[settings] ON 

INSERT [dbo].[settings] ([setting_id], [key], [value]) VALUES (1, N'site_name', N'Dars e Nizami Portal')
INSERT [dbo].[settings] ([setting_id], [key], [value]) VALUES (2, N'timezone', N'PKT')
INSERT [dbo].[settings] ([setting_id], [key], [value]) VALUES (3, N'currency', N'PKR')
SET IDENTITY_INSERT [dbo].[settings] OFF
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([student_id], [user_id], [roll_no], [year_level], [joining_date], [status], [address]) VALUES (1, 1, N'RL-001', 1, CAST(N'2023-01-10' AS Date), N'enrolled', N'Lahore, Punjab')
INSERT [dbo].[students] ([student_id], [user_id], [roll_no], [year_level], [joining_date], [status], [address]) VALUES (2, 2, N'RL-002', 2, CAST(N'2023-01-12' AS Date), N'enrolled', N'Karachi, Sindh')
INSERT [dbo].[students] ([student_id], [user_id], [roll_no], [year_level], [joining_date], [status], [address]) VALUES (3, 3, N'RL-003', 3, CAST(N'2023-01-15' AS Date), N'enrolled', N'Islamabad')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
SET IDENTITY_INSERT [dbo].[subjects] ON 

INSERT [dbo].[subjects] ([subject_id], [subject_name], [year_id], [description]) VALUES (1, N'Fiqh', 1, N'Basic Islamic jurisprudence')
INSERT [dbo].[subjects] ([subject_id], [subject_name], [year_id], [description]) VALUES (2, N'Tafseer', 2, N'Explanation of Quran')
INSERT [dbo].[subjects] ([subject_id], [subject_name], [year_id], [description]) VALUES (3, N'Hadith', 3, N'Sayings of Prophet ?')
SET IDENTITY_INSERT [dbo].[subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [role], [phone], [status], [created_at]) VALUES (1, N'Ahmed Khan', N'ahmed.khan@example.com', N'pass123', N'student', N'03001234567', N'active', CAST(N'2025-12-05T16:30:06.160' AS DateTime))
INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [role], [phone], [status], [created_at]) VALUES (2, N'Bilal Ahmed', N'bilal.ahmed@example.com', N'pass123', N'student', N'03012345678', N'active', CAST(N'2025-12-05T16:30:06.160' AS DateTime))
INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [role], [phone], [status], [created_at]) VALUES (3, N'Ayesha Siddiqi', N'ayesha.s@example.com', N'pass123', N'student', N'03111223344', N'active', CAST(N'2025-12-05T16:30:06.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[year_levels] ON 

INSERT [dbo].[year_levels] ([year_id], [year_name]) VALUES (1, N'Hifz')
INSERT [dbo].[year_levels] ([year_id], [year_name]) VALUES (2, N'Nazra')
INSERT [dbo].[year_levels] ([year_id], [year_name]) VALUES (3, N'Awwal')
SET IDENTITY_INSERT [dbo].[year_levels] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__students__9560EEE09F4C6577]    Script Date: 4/10/2026 11:46:05 AM ******/
ALTER TABLE [dbo].[students] ADD UNIQUE NONCLUSTERED 
(
	[roll_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616400E235E8]    Script Date: 4/10/2026 11:46:05 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_logs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[admission_forms] ADD  DEFAULT (getdate()) FOR [submission_date]
GO
ALTER TABLE [dbo].[admissions] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('unread') FOR [status]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [date_sent]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ('enrolled') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[admins]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[admins]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[admissions]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [dbo].[admission_forms] ([form_id])
GO
ALTER TABLE [dbo].[admissions]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [dbo].[admission_forms] ([form_id])
GO
ALTER TABLE [dbo].[admissions]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[admissions]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[attendance]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[attendance]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[attendance]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[attendance]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD FOREIGN KEY([year_level])
REFERENCES [dbo].[year_levels] ([year_id])
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD FOREIGN KEY([year_level])
REFERENCES [dbo].[year_levels] ([year_id])
GO
ALTER TABLE [dbo].[faculty]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[faculty]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[faculty_subjects]  WITH CHECK ADD FOREIGN KEY([class_year])
REFERENCES [dbo].[year_levels] ([year_id])
GO
ALTER TABLE [dbo].[faculty_subjects]  WITH CHECK ADD FOREIGN KEY([class_year])
REFERENCES [dbo].[year_levels] ([year_id])
GO
ALTER TABLE [dbo].[faculty_subjects]  WITH CHECK ADD FOREIGN KEY([faculty_id])
REFERENCES [dbo].[faculty] ([faculty_id])
GO
ALTER TABLE [dbo].[faculty_subjects]  WITH CHECK ADD FOREIGN KEY([faculty_id])
REFERENCES [dbo].[faculty] ([faculty_id])
GO
ALTER TABLE [dbo].[faculty_subjects]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[faculty_subjects]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([receiver_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([receiver_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([student_id])
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([year_level])
REFERENCES [dbo].[year_levels] ([year_id])
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([year_level])
REFERENCES [dbo].[year_levels] ([year_id])
GO
ALTER TABLE [dbo].[subjects]  WITH CHECK ADD FOREIGN KEY([year_id])
REFERENCES [dbo].[year_levels] ([year_id])
GO
ALTER TABLE [dbo].[subjects]  WITH CHECK ADD FOREIGN KEY([year_id])
REFERENCES [dbo].[year_levels] ([year_id])
GO
